@font-face {
  font-family: "Electronic Arts Text";
  src: url("../../assets/fonts/Electronic\ Arts\ Text.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Electronic Arts Text";
  src: url("../../assets/fonts/Electronic\ Arts\ Text\ Bold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
