// .para-cont{
//     display: flex;
//     justify-content: center;
// }

//squirell demo
//               right: "15%",
//               top: "0%",
// .paralax{
//     background: url("../../assets/images/play-old-favourites-gradient.jpg");
//     height: 70vh;
//     &__img{
//     background: url("../../assets/images/squirrelman\ plus\ shadow.png");

// }
// }

.paralax{

  // display: flex;
  // justify-content: center;
  // align-items: center;
  &_bottom {
    background: url("../../assets/images/play-old-favourites-gradient.jpg") no-repeat;
    height: 100vh;
    &__img {
      background: url("../../assets/images/squirrelman\ plus\ shadow.png") no-repeat;
    }
  }
}

.paraBox{
     &-wrapper {
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       justify-content: flex-end;
       padding-top: 8rem;
       height: 100%;
       
      }
      &-title {
        color: white;
        padding-right: 10rem;
        font-size: 2.75rem;
        font-weight: 600;
      }
      &-text {
        padding-right: 10rem;
        color: white;
        width: 550px;
      }
      padding-right: 18rem;
    &-btn {
      padding: 2rem 0;
      padding-right: 7rem;
      display: flex;
      flex-direction: row;
      &-holder {
        width: 100%;
      }
      &-insideBtn {
        border-radius: 5px;
        width: 13rem;
        height: 2.75rem;
        background-color: #ffffff;
        margin-right: 0.75rem;
        padding-bottom: 0.05rem;
      }
    }
}
